version: 2.1

####################
# Templates
####################

executors:
  scala_212:
    docker:
      - image: cimg/openjdk:11.0
    resource_class: medium+
    environment:
      SCALA_VERSION: 2.12.18
  scala_213:
    docker:
      - image: cimg/openjdk:11.0
    resource_class: medium+
    environment:
      SCALA_VERSION: 2.13.12

commands:
  build:
    parameters:
      build-steps:
        description: "build steps"
        type: steps
        default: []
    steps:
      - checkout
      - restore_cache:
          keys:
          - v5-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "build.sbt" }}
          - v5-dependencies-
      - run:
          command: |
            sbt "++$SCALA_VERSION" clean "project $TEST_PROJECT" scalafmtCheckAll coverage test "project root" coverageReport
      - run:
          command: bash <(curl -s https://codecov.io/bash) -cF $TEST_PROJECT
      - save_cache:
          key: v5-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "build.sbt" }}
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"

####################
# Jobs
####################

jobs:
  common_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolCommon
    steps:
      - build
  scalacheck_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolScalacheck
    steps:
      - build
  diffy_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolDiffy
    steps:
      - build
  sampling_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolSampling
    steps:
      - build
  shapeless_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolShapeless
    steps:
      - build
  cli_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolCli
    steps:
      - build
  examples_212:
    executor: scala_212
    environment:
      TEST_PROJECT=ratatoolExamples
    steps:
      - build
  common_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolCommon
    steps:
      - build
  scalacheck_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolScalacheck
    steps:
      - build
  diffy_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolDiffy
    steps:
      - build
  sampling_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolSampling
    steps:
      - build
  shapeless_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolShapeless
    steps:
      - build
  cli_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolCli
    steps:
      - build
  examples_213:
    executor: scala_213
    environment:
      TEST_PROJECT=ratatoolExamples
    steps:
      -  build


####################
# Workflows
####################

workflows:
  version: 2.1

  # Per commit build
  build:
    jobs:
      - common_212
      - scalacheck_212
      - diffy_212
      - sampling_212
      - shapeless_212
      - cli_212
      - examples_212
      - common_213
      - scalacheck_213
      - diffy_213
      - sampling_213
      - shapeless_213
      - cli_213
      - examples_213
